<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>SL-Online</title>
  <link href="../libs/bootstrap-3.3.7/css/bootstrap.min.css" rel="stylesheet">
  <link href="../css/index.css" rel="stylesheet">
</head>


<body>

  <div class="site-wrapper">

    <div class="masthead clearfix">
      <div class="inner">
        <img src="../img/sharon2.png" class="sharon">
      </div>
    </div>

    <!-- <div class="site-wrapper-inner"> -->
    <div class="row">
      <div class="cover-container">
        <div class="inner cover">
          <!-- <form class="form-signin"> -->
          <form class="form-sign">
            <input type="text" placeholder="User Name" required>
            <input type="password" id="inputPassword" placeholder="Password" required>
            <button class="btn-default" type="submit">Log In</button>
            <button class="btn-default" id="guesrLog">Guest Log</button>
          </form>
        </div>
        <div class="mastfoot">
          <div class="inner">
            <p>SL-Online</p>
          </div>
        </div>
      </div>
    </div>
  </div>

</body>

<!-- jQuery (Bootstrap 的所有 JavaScript 插件都依赖 jQuery，所以必须放在前边) -->
<script src="../libs/jquery-3.4.1.min.js"></script>
<!-- 加载 Bootstrap 的所有 JavaScript 插件。你也可以根据需要只加载单个插件。 -->
<script src="../libs/bootstrap-3.3.7/js/bootstrap.min.js"></script>
<script src="../js/index.js"></script>

</html>
