<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>USERINFO</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!--Bootstrap CSS-->
  <link rel="stylesheet" href="../libs/bootstrap/css/bootstrap.min.css">
  <!--FontAwesome CSS-->
  <link rel="stylesheet" href="../libs/fontawesome/css/all.min.css">
  <link>
  <!-- Flaticon CSS -->
  <link rel="stylesheet" href="../libs/flaticon/flaticon.css">
  <!-- Owl Carousel CSS -->
  <link rel="stylesheet" href="../libs/owl.carousel/css/owl.carousel.min.css">
  <link rel="stylesheet" href="../libs/owl.carousel/css/owl.theme.default.min.css">
  <!-- Animated Headlines CSS -->
  <link rel="stylesheet" href="../libs/jquery-animated-headlines/css/jquery.animatedheadline.css">
  <!-- Magnific Popup CSS -->
  <link rel="stylesheet" href="../libs/magnific-popup/css/magnific-popup.css">
  <!-- Animate CSS -->
  <link rel="stylesheet" href="../libs/animate.css/css/animate.min.css">
  <!-- Meanmenu CSS -->
  <link rel="stylesheet" href="../libs/meanmenu/css/meanmenu.min.css">
  <!--LayUI css-->
  <link rel="stylesheet" href="../libs/layui/css/layui.css">
  <!-- Site Stylesheet -->
  <link rel="stylesheet" href="../css/app.css">
  <link rel="stylesheet" href="../css/style.css">
  <link rel="stylesheet" href="../css/catt.css">


  <!-- Google Web Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Nunito:300,300i,400,400i,600,600i,700,700i,800,800i&display=swap"
        rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,700,700i,900,900i&display=swap"
        rel="stylesheet">

</head>
<body>

<!-- ScrollUp End Here -->
<!-- Preloader Start Here -->
<div id="preloader"></div>
<!-- Preloader End Here -->
<div id="wrapper" class="wrapper">

<!--=====================================-->
<!--=            Header Start           =-->
<!--=====================================-->
  <header class="header">
    <div id="rt-sticky-placeholder"></div>
    <div id="header-menu" class="header-menu menu-layout1 pd-x-20">
      <div class="container-fluid">
        <div class="row d-flex align-items-center">
          <div class="col-lg-2">
            <div class="logo-area">
              <a href="catt.html" class="temp-logo">
                <img src="../img/sharon.png" alt="logo" class="img-fluid"
                     style="max-width: 89%">
              </a>
            </div>
          </div>
          <div class="col-lg-7 d-flex justify-content-end">
            <nav id="dropdown" class="template-main-menu">
              <ul>
                <li>
                  <a href="coat_type.html">COAT</a>
                </li>
                <li>
                  <a href="shirt_type.html">SHIRT</a>
                </li>
                <li>
                  <a href="skirt_type.html">SKIRT</a>
                </li>
                <li>
                  <a href="plants_type.html">PLANTS</a>
                </li>
                <li>
                  <a href="shoes_type.html">SHOES</a>
                </li>
                <li>
                  <a href="user_info.html">ME</a>
                </li>
              </ul>
            </nav>
          </div>
          <div class="col-lg-3 d-flex justify-content-end">
            <div class="header-action-layout1">
              <ul>
                <li class="header-login-icon">
                  <a href="login.html" class="color-light" data-toggle="tooltip" data-placement="top"
                     title="Login/Register">
                    <i class="far fa-user"></i>
                  </a>
                  <a href="login.html" class="color-light" data-toggle="tooltip" data-placement="top"
                     title="Staff Login">
                    <i><img src="../img/icon/staff.png" class="icon-staff" alt="icon-staff"></i>
                  </a>
                </li>
                <li class="header-btn">
                  <a href="car.html" class="item-btn">My ShoppingBAG</a>
                </li>
                <li class="header-btn">
                  <a href="order.html" class="item-btn">My Order</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>
</div>

<!--=====================================-->
<!--=            Banner Start           =-->
<!--=====================================-->
<section class="main-banner-wrap-layout1 bg-dark-overlay bg-common minus-mgt-90"
         data-bg-image="../img/banner/banner1.jpg">
  <div class="container">
    <div class="main-banner-box-layout1 animated-headline">
      <!--<h1 class="ah-headline item-title">-->
                        <!--<span class="ah-words-wrapper">-->
                            <!--<b class="is-visible">EAT &amp; SLEEP &amp; KSWL</b>-->
                            <!--<b>EAT &amp; SLEEP &amp; KSWL</b>-->
                        <!--</span>-->
      <!--</h1>-->
      <div class="item-subtitle" id="logged" style="display: none">尊敬的用户<div id="UN"></div>您好</div>
      <div class="item-subtitle" id="unlog" style="display: none">您暂未登陆，请登陆后查看</div>
      <!--<i-->
      <!--<div class="search-box-layout1">-->
        <!--<form action="#">-->
          <!--<div class="row no-gutters">-->
            <!--<div class="col-lg-12 form-group">-->
              <!--<div class="input-search-btn search-type" data-toggle="modal" data-target="#modal-type">-->
                <!--<img class="icon" src="../img/icon/typelis.png" alt="typelis-icon">-->
                <!--<label>Select Type</label>-->
              <!--</div>-->
            <!--</div>-->
          <!--</div>-->
        <!--</form>-->
      </div>
    </div>
  </div>
</section>

<!--=====================================-->
<!--=       Footer Start           	=-->
<!--=====================================-->
<footer>
  <div class="footer-top-wrap">
    <div class="container">
      <div class="row">
        <div class="col-lg-3 col-sm-6">
          <div class="footer-box-layout1">
            <div class="footer-logo">
              <img src="../img/sharon.png" alt="logo">
            </div>
            <div class="footer-menu-box">
              <ul>
                <li><a>Store Locator</a></li>
                <li><a>Find a Boutique</a></li>
                <li><a>Sharon Watches Stores</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-sm-6">
          <div class="footer-box-layout1">
            <div class="footer-title">
              <h3>CUSTOMER CARE</h3>
            </div>
            <div class="footer-menu-box">
              <ul>
                <li><a href="#">Exclusive Service</a></li>
                <li><a href="#">Contact Us</a></li>
                <li><a href="#">Help/FAQs</a></li>
                <li><a href="#">Orders &amp; Shipping</a></li>
                <li><a href="#">Return &amp; Refunds</a></li>
                <li><a href="#">Authenticity</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-sm-6">
          <div class="footer-box-layout1">
            <div class="footer-title">
              <h3>ABOUT US</h3>
            </div>
            <div class="footer-menu-box">
              <ul>
                <li><a href="#">Company Profile</a></li>
                <li><a href="#">Corporate Data</a></li>
                <li><a href="#">Inverstor Relations</a></li>
                <li><a href="#">Careers</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-sm-6">
          <div class="footer-box-layout1">
            <div class="footer-title">
              <h3>LEGAL</h3>
            </div>
            <div class="footer-menu-box">
              <ul>
                <li><a href="#">Legal Notes</a></li>
                <li><a href="#">Terms & Conditions</a></li>
                <li><a href="#">General Conditions of Purchase</a></li>
                <li><a href="#">Ethical Code</a></li>
                <li><a href="#">Privacy Policy</a></li>
                <li><a href="#">Cookie Policy</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-bottom-wrap">
    <div class="container">
      <div class="row">
        <div class="col-md-8">
          <div class="copyright-text">
            &copy; SHARONLAU
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
</body>

<script>
  // document.getElementById("UN").value = sessionStorage.getItem("username");
  var Uname = localStorage.getItem("UN");
  console.log(Uname);
  if (Uname == null) {
    document.getElementById("logged").style.display="none";
    document.getElementById("unlog").style.display="block";
  } else {
    document.getElementById("unlog").style.display="none";
    document.getElementById("UN").innerText = Uname;
    document.getElementById("logged").style.display="block";
  }
</script>


<!--Lay UI JS-->
<!--<script src="../libs/layui/layui.js"></script>-->
<script src="../libs/layui/layui.all.js"></script>
<!-- Jquery Js -->
<script src="../libs/jquery/js/jquery.min.js"></script>
<!-- Popper Js -->
<script src="../libs/popper.js/js/popper.min.js"></script>
<!-- Bootstrap Js -->
<script src="../libs/bootstrap/js/bootstrap.min.js"></script>
<!-- Waypoints Js -->
<script src="../libs/waypoints/js/jquery.waypoints.min.js"></script>
<!-- Counterup Js -->
<script src="../libs/jquery.counterup/js/jquery.counterup.min.js"></script>
<!-- Owl Carousel Js -->
<script src="../libs/owl.carousel/js/owl.carousel.min.js"></script>
<!-- ImagesLoaded Js -->
<script src="../libs/imagesloaded/js/imagesloaded.pkgd.min.js"></script>
<!-- Isotope Js -->
<script src="../libs/isotope-layout/js/isotope.pkgd.min.js"></script>
<!-- Animated Headline Js -->
<script src="../libs/jquery-animated-headlines/js/jquery.animatedheadline.min.js"></script>
<!-- Magnific Popup Js -->
<script src="../libs/magnific-popup/js/jquery.magnific-popup.min.js"></script>
<!-- ElevateZoom Js -->
<script src="../libs/elevatezoom/js/jquery.elevateZoom-2.2.3.min.js"></script>
<!-- Bootstrap Validate Js -->
<script src="../libs/bootstrap-validator/js/validator.min.js"></script>
<!-- Meanmenu Js -->
<script src="../libs/meanmenu/js/jquery.meanmenu.min.js"></script>
<!-- Google Map js -->
<script src="https://ditu.google.cn/maps/api/js?key=AIzaSyBtmXSwv4YmAKtcZyyad9W7D4AC08z0Rb4"></script>

<!-- Site Scripts -->
<script src="../js/app.js"></script>

<script src="../js/main.js"></script>
<script src="../js/catt.js"></script>
</html>
