#goods_list table thead {
    display: none; !important;
}
.icon-staff {
    height: 25px;
    margin-top: -3px;
    margin-left: 13px;
}

.layui-btn-add {
    background-color: #3a8cec66;
}

.layui-btn-pur {
    background-color: #3b599877;
}

.pur-input {
    width: 60%;
}
